Source: ssh-tools
Section: utils
Priority: optional
Maintainer: Sven Wick <sven.wick@gmx.de>
Build-Depends: debhelper (>= 11), help2man
Standards-Version: 4.1.3
Homepage: https://github.com/vaporup/ssh-tools/
Vcs-Browser: https://github.com/vaporup/ssh-tools
Vcs-Git: https://github.com/vaporup/ssh-tools.git

Package: ssh-tools
Architecture: all
Depends: ${misc:Depends}, openssh-client
Recommends: colordiff
Suggests: jo, jq
Description: collection of various tools using ssh
 .
 * ssh-ping: check if host is reachable using ssh_config
 .
   Outputs *Reply from* when server is reachable but login failed
   Outputs *Pong from* when server is reachable and login was successful
 .
 * ssh-version: shows version of the SSH server you are connecting to
 * ssh-diff: Diff a file over SSH 
 * ssh-facts: Get some facts about the remote system
