Source: ssh-tools
Section: net
Priority: extra
Maintainer: Sven Wick <sven.wick@gmx.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.0.1
Homepage: https://github.com/vaporup/ssh-tools/

Package: ssh-tools
Architecture: all
Depends: ${misc:Depends}
Recommends: colordiff
Description: ssh-ping, ssh-version
 * ssh-ping: check if host is reachable using ssh_config
 .
   - Outputs *Reply from* when server is reachable but login failed
   - Outputs *Pong from* when server is reachable and login was successful
 .
 * ssh-version: shows version of the SSH server you are connecting to
 * ssh-diff: Diff a file over SSH 
 * ssh-facts: Get some facts about the remote system
